# Pandas library

In [1]:
import pandas as pd

## DataFrame

Series - 1D dataframe

DataFrame - 2D dataframe

In [2]:
df = pd.Series([30, 35, 40],
               index=['2015 Sales', '2016 Sales', '2017 Sales'],
               name='Product A')
df

2015 Sales    30
2016 Sales    35
2017 Sales    40
Name: Product A, dtype: int64

In [3]:
df = pd.DataFrame(
    {'Bob': ['I liked it', 'It was awful'],
     'Sue': ['Pretty good', 'Blank']},
    index=['Product A', 'Product B']
)
df

                    Bob          Sue
Product A    I liked it  Pretty good
Product B  It was awful        Blank

### Create dataframe from csv

In [4]:
df = pd.read_csv('data/wine.csv')
df.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude

In [5]:
df = pd.read_csv('data/wine.csv', index_col=0)
df.head()

,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude

In [6]:
df = pd.read_csv('data/wine.csv')
df.set_index('Unnamed: 0')
df.drop(['Unnamed: 0'], axis=1, inplace=True)
df.head()

,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude

In [7]:
def read_data():
    return pd.read_csv('data/wine.csv', index_col=0)

### Data access

In [8]:
df = read_data()

In [9]:
df.country

0             US
1          Spain
2             US
3             US
4         France
           ...
150925     Italy
150926    France
150927     Italy
150928    France
150929     Italy
Name: country, Length: 150930, dtype: object

In [10]:
df.country[0]

'US'

In [11]:
df['country']

0             US
1          Spain
2             US
3             US
4         France
           ...
150925     Italy
150926    France
150927     Italy
150928    France
150929     Italy
Name: country, Length: 150930, dtype: object

In [12]:
df['country'][0]

'US'

#### iloc

select data based on its numerical position in the data (row first, column second)

iloc is exclusive so 0:1000 returns 1000 entries

In [13]:
df.iloc[0]

country                                                       US
description    This tremendous 100% varietal wine hails from ...
designation                                    Martha's Vineyard
points                                                        96
price                                                        235
province                                              California
region_1                                             Napa Valley
region_2                                                    Napa
variety                                       Cabernet Sauvignon
winery                                                     Heitz
Name: 0, dtype: object

In [14]:
df.iloc[:, 0]

0             US
1          Spain
2             US
3             US
4         France
           ...
150925     Italy
150926    France
150927     Italy
150928    France
150929     Italy
Name: country, Length: 150930, dtype: object

In [15]:
df.iloc[[0, 1, 2], 0]

0       US
1    Spain
2       US
Name: country, dtype: object

#### loc

label based selection

loc is inclusive so 0:1000 returns 1001 entries

In [16]:
df.loc[:, ['country', 'province']]

       country            province
0           US          California
1        Spain      Northern Spain
2           US          California
3           US              Oregon
4       France            Provence
...        ...                 ...
150925   Italy      Southern Italy
150926  France           Champagne
150927   Italy      Southern Italy
150928  France           Champagne
150929   Italy  Northeastern Italy

[150930 rows x 2 columns]

#### Conditional selection

In [17]:
condition = df.country == 'Italy'
df.loc[condition].head()

,country,description,designation,points,price,province,region_1,region_2,variety,winery
10,Italy,"Elegance, complexity and structure come togeth...",Ronco della Chiesa,95,80.0,Northeastern Italy,Collio,NaN,Friulano,Borgo del Tiglio
32,Italy,"Underbrush, scorched earth, menthol and plum s...",Vigna Piaggia,90,NaN,Tuscany,Brunello di Montalcino,NaN,Sangiovese,Abbadia Ardenga
35,Italy,"Forest floor, tilled soil, mature berry and a ...",Riserva,90,135.0,Tuscany,Brunello di Montalcino,NaN,Sangiovese,Carillon
37,Italy,"Aromas of forest floor, violet, red berry and ...",NaN,90,29.0,Tuscany,Vino Nobile di Montepulciano,NaN,Sangiovese,Avignonesi
38,Italy,"This has a charming nose that boasts rose, vio...",NaN,90,23.0,Tuscany,Chianti Classico,NaN,Sangiovese,Casina di Cornia

In [18]:
condition = (df.country == 'Italy') & (df.points >= 90)
df.loc[condition].head()

,country,description,designation,points,price,province,region_1,region_2,variety,winery
10,Italy,"Elegance, complexity and structure come togeth...",Ronco della Chiesa,95,80.0,Northeastern Italy,Collio,NaN,Friulano,Borgo del Tiglio
32,Italy,"Underbrush, scorched earth, menthol and plum s...",Vigna Piaggia,90,NaN,Tuscany,Brunello di Montalcino,NaN,Sangiovese,Abbadia Ardenga
35,Italy,"Forest floor, tilled soil, mature berry and a ...",Riserva,90,135.0,Tuscany,Brunello di Montalcino,NaN,Sangiovese,Carillon
37,Italy,"Aromas of forest floor, violet, red berry and ...",NaN,90,29.0,Tuscany,Vino Nobile di Montepulciano,NaN,Sangiovese,Avignonesi
38,Italy,"This has a charming nose that boasts rose, vio...",NaN,90,23.0,Tuscany,Chianti Classico,NaN,Sangiovese,Casina di Cornia

In [19]:
condition = (df.country == 'Italy') | (df.points >= 90)
df.loc[condition].head()

,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude

In [20]:
condition = df.country.isin(['Italy', 'France'])
df.loc[condition].head()

,country,description,designation,points,price,province,region_1,region_2,variety,winery
4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude
10,Italy,"Elegance, complexity and structure come togeth...",Ronco della Chiesa,95,80.0,Northeastern Italy,Collio,NaN,Friulano,Borgo del Tiglio
13,France,This wine is in peak condition. The tannins an...,Château Montus Prestige,95,90.0,Southwest France,Madiran,NaN,Tannat,Vignobles Brumont
18,France,Coming from a seven-acre vineyard named after ...,Le Pigeonnier,95,290.0,Southwest France,Cahors,NaN,Malbec,Château Lagrézette
32,Italy,"Underbrush, scorched earth, menthol and plum s...",Vigna Piaggia,90,NaN,Tuscany,Brunello di Montalcino,NaN,Sangiovese,Abbadia Ardenga

### Data types

* object: str or mixed for text or numeric and non numeric values
* int64: integer numbers
* float64: floating point numbers
* bool: True/False values
* datetime64: date and time values
* timedelta: difference between two datetimes
* category: finite list of text values

In [21]:
df = pd.DataFrame({
    'str column': ['text 1', 'text 2'],
    'integer column': [42, 32],
    'boolean column': [True, False],
    'float column': [12.0, 35.0],
    'date time column': ['2017-03-22 15:16:45', '2020-03-22 09:16:45'],
    'epoch seconds column': [0, 5],
    'category column':  ['category_a', 'category_b']
})
df.head()

,str column,integer column,boolean column,float column,date time column,epoch seconds column,category column
0,text 1,42,True,12.0,2017-03-22 15:16:45,0,category_a
1,text 2,32,False,35.0,2020-03-22 09:16:45,5,category_b

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   str column            2 non-null      object
 1   integer column        2 non-null      int64
 2   boolean column        2 non-null      bool
 3   float column          2 non-null      float64
 4   date time column      2 non-null      object
 5   epoch seconds column  2 non-null      int64
 6   category column       2 non-null      object
dtypes: bool(1), float64(1), int64(2), object(3)
memory usage: 226.0+ bytes

In [23]:
df['date time column'] = df['date time column'].astype('datetime64')
df['category column'] = df['category column'].astype('category')
df['epoch seconds column'] = pd.to_datetime(df['epoch seconds column'], unit='s')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   str column            2 non-null      object
 1   integer column        2 non-null      int64
 2   boolean column        2 non-null      bool
 3   float column          2 non-null      float64
 4   date time column      2 non-null      datetime64[ns]
 5   epoch seconds column  2 non-null      datetime64[ns]
 6   category column       2 non-null      category
dtypes: bool(1), category(1), datetime64[ns](2), float64(1), int64(1), object(1)
memory usage: 308.0+ bytes

In [24]:
df.head()

,str column,integer column,boolean column,float column,date time column,epoch seconds column,category column
0,text 1,42,True,12.0,2017-03-22 15:16:45,1970-01-01 00:00:00,category_a
1,text 2,32,False,35.0,2020-03-22 09:16:45,1970-01-01 00:00:05,category_b

In [25]:
df.dtypes

str column                      object
integer column                   int64
boolean column                    bool
float column                   float64
date time column        datetime64[ns]
epoch seconds column    datetime64[ns]
category column               category
dtype: object

In [26]:
df['year'] = df['date time column'].dt.year
df['month'] = df['date time column'].dt.month
df['day'] = df['date time column'].dt.day
df['hours'] = df['date time column'].dt.hour
df['minutes'] = df['date time column'].dt.minute
df['seconds'] = df['date time column'].dt.second
df.head()

,str column,integer column,boolean column,float column,date time column,epoch seconds column,category column,year,month,day,hours,minutes,seconds
0,text 1,42,True,12.0,2017-03-22 15:16:45,1970-01-01 00:00:00,category_a,2017,3,22,15,16,45
1,text 2,32,False,35.0,2020-03-22 09:16:45,1970-01-01 00:00:05,category_b,2020,3,22,9,16,45

In [27]:
df.dtypes

str column                      object
integer column                   int64
boolean column                    bool
float column                   float64
date time column        datetime64[ns]
epoch seconds column    datetime64[ns]
category column               category
year                             int64
month                            int64
day                              int64
hours                            int64
minutes                          int64
seconds                          int64
dtype: object

In [28]:
def get_column_by_types(dataframe):
    return {
        "numerical": list(dataframe.select_dtypes(include=['int64', 'float64']).columns),
        "bool": list(dataframe.select_dtypes(include=["bool"]).columns),
        "object": list(dataframe.select_dtypes(include=['object']).columns),
        "datetime": list(dataframe.select_dtypes(include=["datetime64"]).columns),
        "category": list(dataframe.select_dtypes(include=["category"]).columns)
    }

In [29]:
import pprint

col_type_dict = get_column_by_types(df)
pprint.pprint(col_type_dict)

{'bool': ['boolean column'],
 'category': ['category column'],
 'datetime': ['date time column', 'epoch seconds column'],
 'numerical': ['integer column',
               'float column',
               'year',
               'month',
               'day',
               'hours',
               'minutes',
               'seconds'],
 'object': ['str column']}

### Summary functions

In [30]:
df = read_data()

In [31]:
df.head()

,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude

describe() function will show statistics about the numerical values in the dataframe when applied on the dataframe

We can get other columns by specifying them

In [32]:
df.describe()

              points          price
count  150930.000000  137235.000000
mean       87.888418      33.131482
std         3.222392      36.322536
min        80.000000       4.000000
25%        86.000000      16.000000
50%        88.000000      24.000000
75%        90.000000      40.000000
max       100.000000    2300.000000

In [33]:
df.country.describe()

count     150925
unique        48
top           US
freq       62397
Name: country, dtype: object

In [34]:
df.points.mean()

87.8884184721394

In [35]:
df.country.unique()

array(['US', 'Spain', 'France', 'Italy', 'New Zealand', 'Bulgaria',
       'Argentina', 'Australia', 'Portugal', 'Israel', 'South Africa',
       'Greece', 'Chile', 'Morocco', 'Romania', 'Germany', 'Canada',
       'Moldova', 'Hungary', 'Austria', 'Croatia', 'Slovenia', nan,
       'India', 'Turkey', 'Macedonia', 'Lebanon', 'Serbia', 'Uruguay',
       'Switzerland', 'Albania', 'Bosnia and Herzegovina', 'Brazil',
       'Cyprus', 'Lithuania', 'Japan', 'China', 'South Korea', 'Ukraine',
       'England', 'Mexico', 'Georgia', 'Montenegro', 'Luxembourg',
       'Slovakia', 'Czech Republic', 'Egypt', 'Tunisia', 'US-France'],
      dtype=object)

In [36]:
df.country.value_counts().head()

US        62397
Italy     23478
France    21098
Spain      8268
Chile      5816
Name: country, dtype: int64

### Change or create data

In [37]:
df = read_data()
df['description'] = 'no description'
df.head()

,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,US,no description,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,Spain,no description,Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,US,no description,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,US,no description,Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,France,no description,La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude

In [38]:
df = read_data()
df['index_backwards'] = range(len(df), 0, -1)
df.head()

,country,description,designation,points,price,province,region_1,region_2,variety,winery,index_backwards
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz,150930
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez,150929
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley,150928
3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi,150927
4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude,150926

#### Map and apply function

map() function that takes one set of values and maps them to another set of values

The function in map expects a single argument as input and returns a single output, this function is apply element wise in the dataframe and map returns a Series with all the values from function

apply() function is the equivalent of map if we want to transform a whole DataFrame with a function on each row

The argument axis can have two values

* index: the function needs to apply transformation to a column
* columns: the function needs to apply transformation to a row

Pandas has built in functions for all Python operators: >, <, ==, ... which are much faster. Builtins also works with concatenation of string

In [39]:
df = read_data()
df.head()

,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude

In [40]:
points_mean = df.points.mean()

remean_points = lambda p: p - points_mean

In [41]:
%%time
df['points_with_map'] = df.points.map(remean_points)
df.head()

CPU times: user 85.8 ms, sys: 7.05 ms, total: 92.8 ms
Wall time: 92.2 ms

,country,description,designation,points,price,province,region_1,region_2,variety,winery,points_with_map
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz,8.111582
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez,8.111582
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley,8.111582
3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi,8.111582
4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude,7.111582

In [42]:
%%time
df['points_with_builtin'] = df.points - points_mean
df.head()

CPU times: user 3.36 ms, sys: 0 ns, total: 3.36 ms
Wall time: 3.02 ms

,country,description,designation,points,price,province,region_1,region_2,variety,winery,points_with_map,points_with_builtin
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz,8.111582,8.111582
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez,8.111582,8.111582
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley,8.111582,8.111582
3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi,8.111582,8.111582
4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude,7.111582,7.111582

In [43]:
df['points_equality'] = df.points_with_map == df.points_with_builtin
df.head()

,country,description,designation,points,price,province,region_1,region_2,variety,winery,points_with_map,points_with_builtin,points_equality
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz,8.111582,8.111582,True
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez,8.111582,8.111582,True
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley,8.111582,8.111582,True
3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi,8.111582,8.111582,True
4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude,7.111582,7.111582,True

In [44]:
df = read_data()
df.head()

,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude

In [45]:
points_price = lambda row: row.points * row.price

In [46]:
%%time
df['points_price'] = df.apply(points_price, axis='columns')
df.head()

CPU times: user 5.13 s, sys: 11.9 ms, total: 5.14 s
Wall time: 5.16 s

,country,description,designation,points,price,province,region_1,region_2,variety,winery,points_price
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz,22560.0
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez,10560.0
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley,8640.0
3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi,6240.0
4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude,6270.0

In [47]:
%%time
df['points_price_builin'] = df.points * df.price
df.head()

CPU times: user 2.83 ms, sys: 0 ns, total: 2.83 ms
Wall time: 2.14 ms

,country,description,designation,points,price,province,region_1,region_2,variety,winery,points_price,points_price_builin
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz,22560.0,22560.0
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez,10560.0,10560.0
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley,8640.0,8640.0
3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi,6240.0,6240.0
4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude,6270.0,6270.0

In [48]:
df['country_province'] = df.country + "_" + df.province
df.head()

,country,description,designation,points,price,province,region_1,region_2,variety,winery,points_price,points_price_builin,country_province
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz,22560.0,22560.0,US_California
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez,10560.0,10560.0,Spain_Northern Spain
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley,8640.0,8640.0,US_California
3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi,6240.0,6240.0,US_Oregon
4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude,6270.0,6270.0,France_Provence

### Missing data

In [49]:
df = read_data()

In [50]:
condition = df.price.isnull()
df.loc[condition].head()

,country,description,designation,points,price,province,region_1,region_2,variety,winery
32,Italy,"Underbrush, scorched earth, menthol and plum s...",Vigna Piaggia,90,NaN,Tuscany,Brunello di Montalcino,NaN,Sangiovese,Abbadia Ardenga
56,France,"Delicious while also young and textured, this ...",Le Pavé,90,NaN,Loire Valley,Sancerre,NaN,Sauvignon Blanc,Domaine Vacheron
72,Italy,"This offers aromas of red rose, wild berry, da...",Bussia Riserva,91,NaN,Piedmont,Barolo,NaN,Nebbiolo,Silvano Bolmida
82,Italy,"Berry, baking spice, dried iris, mint and a hi...",Palliano Riserva,91,NaN,Piedmont,Roero,NaN,Nebbiolo,Ceste
116,Spain,Aromas of brandied cherry and crème de cassis ...,Dulce Tinto,86,NaN,Levante,Jumilla,NaN,Monastrell,Casa de la Ermita

In [51]:
condition = df.price.notnull()
df.loc[condition].head()

,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude

In [52]:
df[pd.isnull(df.country)].head()

,country,description,designation,points,price,province,region_1,region_2,variety,winery
1133,NaN,Delicate white flowers and a spin of lemon pee...,Askitikos,90,17.0,NaN,NaN,NaN,Assyrtiko,Tsililis
1440,NaN,"A blend of 60% Syrah, 30% Cabernet Sauvignon a...",Shah,90,30.0,NaN,NaN,NaN,Red Blend,Büyülübağ
68226,NaN,"From first sniff to last, the nose never makes...",Piedra Feliz,81,15.0,NaN,NaN,NaN,Pinot Noir,Chilcas
113016,NaN,"From first sniff to last, the nose never makes...",Piedra Feliz,81,15.0,NaN,NaN,NaN,Pinot Noir,Chilcas
135696,NaN,"From first sniff to last, the nose never makes...",Piedra Feliz,81,15.0,NaN,NaN,NaN,Pinot Noir,Chilcas

#### Replace missing data

In [53]:
df.country = df.country.fillna('Unknown')
df[df.country == 'Unknown'].country.count()

5

In [54]:
df.country = df.country.replace('Unknown', 'Missing country')
print(f'Country as Unknown: {df[df.country == "Unknown"].country.count()}')
print(f'Country as Missing Country: {df[df.country == "Missing country"].country.count()}')

Country as Unknown: 0
Country as Missing Country: 5

### Grouping

groupby(): exist with single value or list of values

Selecting multiple values result in a multi index which can be removed with reset_index() function

In [55]:
df = read_data()

In [56]:
df.groupby('points').points.count()[:5]

points
80      898
81     1502
82     4041
83     6048
84    10708
Name: points, dtype: int64

In [57]:
df.groupby('points').price.min()[:5]

points
80    5.0
81    5.0
82    5.0
83    4.0
84    4.0
Name: price, dtype: float64

In [58]:
df.groupby(['country', 'province']).apply(lambda x: x.loc[x.points.idxmax()])

                              country  \
country   province
Albania   Mirditë             Albania
Argentina Mendoza Province  Argentina
          Other             Argentina
Australia Australia Other   Australia
          New South Wales   Australia
...                               ...
Uruguay   Juanico             Uruguay
          Montevideo          Uruguay
          Progreso            Uruguay
          San Jose            Uruguay
          Uruguay             Uruguay

                                                                  description  \
country   province
Albania   Mirditë           This garnet-colored wine made from 100% Kallme...
Argentina Mendoza Province  If the color doesn't tell the full story, the ...
          Other             Take note, this could be the best wine Colomé ...
Australia Australia Other   This big wine presents a sophisticated bouquet...
          New South Wales   This wine's deep brassy color suggests honey, ...
...                                                                       ...
Uruguay   Juanico           This mature Bordeaux-style blend is earthy on ...
          Montevideo        Bouza ranks as one of Uruguay's top wineries, ...
          Progreso          Blackberry and plum aromas come with wood-smok...
          San Jose          While this ranks as one of the best Uruguayan ...
          Uruguay           They call it Special Barrel, and one sniff tel...

                                                        designation  points  \
country   province
Albania   Mirditë                                               NaN      88
Argentina Mendoza Province                         Nicasia Vineyard      97
          Other                                             Reserva      95
Australia Australia Other                                  Yattarna      92
          New South Wales                        Noble One Botrytis      93
...                                                             ...     ...
Uruguay   Juanico                  Preludio Barrel Select Lote N 77      90
          Montevideo        Monte Vide Eu Tannat-Merlot-Tempranillo      90
          Progreso                                              RPF      89
          San Jose                 El Preciado Premier Gran Reserva      89
          Uruguay                                    Special Barrel      89

                            price          province                 region_1  \
country   province
Albania   Mirditë            20.0           Mirditë                      NaN
Argentina Mendoza Province  120.0  Mendoza Province                  Mendoza
          Other              90.0             Other                    Salta
Australia Australia Other    65.0   Australia Other  South Eastern Australia
          New South Wales    32.0   New South Wales          New South Wales
...                           ...               ...                      ...
Uruguay   Juanico            45.0           Juanico                      NaN
          Montevideo         57.0        Montevideo                      NaN
          Progreso           23.0          Progreso                      NaN
          San Jose           60.0          San Jose                      NaN
          Uruguay            50.0           Uruguay                      NaN

                           region_2     variety                winery
country   province
Albania   Mirditë               NaN     Kallmet                Arbëri
Argentina Mendoza Province      NaN      Malbec  Bodega Catena Zapata
          Other                 NaN      Malbec                Colomé
Australia Australia Other       NaN  Chardonnay              Penfolds
          New South Wales       NaN    Sémillon            De Bortoli
...                             ...         ...                   ...
Uruguay   Juanico               NaN   Red Blend        Familia Deicas
          Montevideo            NaN   Red Blend                 Bouza
          Progreso              NaN      Tannat                Pisano
          San Jose              NaN   Red Blend        Castillo Viejo
          Uruguay               NaN      Tannat                 Bouza

[455 rows x 10 columns]

In [59]:
df.groupby('country').price.agg([len, min, max])[:5]

                           len   min     max
country
Albania                    2.0  20.0    20.0
Argentina               5631.0   4.0   250.0
Australia               4957.0   5.0   850.0
Austria                 3057.0   8.0  1100.0
Bosnia and Herzegovina     4.0  12.0    13.0

In [60]:
tmp = df.groupby(['country', 'province']).description.agg([len])
tmp[:5]

                             len
country   province
Albania   Mirditë              2
Argentina Mendoza Province  4742
          Other              889
Australia Australia Other    553
          New South Wales    246

In [61]:
type(tmp.index)

pandas.core.indexes.multi.MultiIndex

In [62]:
tmp.reset_index()

       country          province   len
0      Albania           Mirditë     2
1    Argentina  Mendoza Province  4742
2    Argentina             Other   889
3    Australia   Australia Other   553
4    Australia   New South Wales   246
..         ...               ...   ...
450    Uruguay           Juanico    19
451    Uruguay        Montevideo     3
452    Uruguay          Progreso     5
453    Uruguay          San Jose    15
454    Uruguay           Uruguay    18

[455 rows x 3 columns]

### Sorting

sort_values(by='column name', ascending=True): will sort the values in ascending order for the column 'column name'

sort_index(): used for sorting by index after getting a sample from a dataframe for instance

In [63]:
df = read_data()
df.head()

,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude

In [64]:
df.sort_values(by='price', ascending=False)

,country,description,designation,points,price,province,region_1,region_2,variety,winery
34920,France,"A big, powerful wine that sums up the richness...",NaN,99,2300.0,Bordeaux,Pauillac,NaN,Bordeaux-style Red Blend,Château Latour
13318,US,The nose on this single-vineyard wine from a s...,Roger Rose Vineyard,91,2013.0,California,Arroyo Seco,Central Coast,Chardonnay,Blair
34922,France,"A massive wine for Margaux, packed with tannin...",NaN,98,1900.0,Bordeaux,Margaux,NaN,Bordeaux-style Red Blend,Château Margaux
26296,France,A wine that has created its own universe. It h...,Clos du Mesnil,100,1400.0,Champagne,Champagne,NaN,Chardonnay,Krug
51886,France,A wine that has created its own universe. It h...,Clos du Mesnil,100,1400.0,Champagne,Champagne,NaN,Chardonnay,Krug
...,...,...,...,...,...,...,...,...,...,...
150377,New Zealand,"Light and a bit herbal, like a pleasant St.-Jo...",Matheson,84,NaN,Hawke's Bay,NaN,NaN,Syrah,Matua Valley
150378,New Zealand,"Impressive purple color, but less intense on t...",NaN,84,NaN,Martinborough,NaN,NaN,Syrah,Kusuda
150587,Canada,"Shows pronounced oily, earthy, almost tobacco-...",Icewine,90,NaN,Ontario,Lake Erie North Shore,NaN,Riesling,Colio
150673,US,"Cherry-scented, clean and fruity. Good concent...",NaN,87,NaN,California,Dry Creek Valley,Sonoma,Zinfandel,Taft Street
150922,Italy,Made by 30-ish Roberta Borghese high above Man...,Superiore,91,NaN,Northeastern Italy,Colli Orientali del Friuli,NaN,Tocai,Ronchi di Manzano

In [65]:
df.sort_values(by=['points', 'price'], ascending=False)

,country,description,designation,points,price,province,region_1,region_2,variety,winery
26296,France,A wine that has created its own universe. It h...,Clos du Mesnil,100,1400.0,Champagne,Champagne,NaN,Chardonnay,Krug
51886,France,A wine that has created its own universe. It h...,Clos du Mesnil,100,1400.0,Champagne,Champagne,NaN,Chardonnay,Krug
83536,France,A wine that has created its own universe. It h...,Clos du Mesnil,100,1400.0,Champagne,Champagne,NaN,Chardonnay,Krug
2145,France,"Full of ripe fruit, opulent and concentrated, ...",NaN,100,848.0,Bordeaux,Pessac-Léognan,NaN,Bordeaux-style White Blend,Château Haut-Brion
24151,Italy,"A perfect wine from a classic vintage, the 200...",Masseto,100,460.0,Tuscany,Toscana,NaN,Merlot,Tenuta dell'Ornellaia
...,...,...,...,...,...,...,...,...,...,...
135212,US,About as rustic as wines get while still drink...,Eclectic Red Wine,80,NaN,California,Paso Robles,Central Coast,Red Blend,Four Vines
137020,Portugal,Slapping “wine made from organic grapes“ on th...,Vintage,80,NaN,Douro,NaN,NaN,Port,Casal dos Jordões
141915,Argentina,Piercing aromas of bulky fruit and horseradish...,Estate Bottled,80,NaN,Mendoza Province,Maipú,NaN,Merlot,Pascual Toso
142696,France,"This wine is certainly fresh, but it has an ar...",Le Bosc,80,NaN,Languedoc-Roussillon,Vin de Pays d'Oc,NaN,Chardonnay-Sauvignon,Pierre Besinet
150055,New Zealand,"Simple and sweet-smelling, like butterscotch L...",Reserve,80,NaN,Marlborough,NaN,NaN,Chardonnay,Omaka Springs

In [66]:
sample = df.sample(10)
sample

,country,description,designation,points,price,province,region_1,region_2,variety,winery
43239,Italy,This vintage of Grattamacco's basic Bolgheri b...,NaN,87,42.0,Tuscany,Bolgheri,NaN,Red Blend,Grattamacco
122967,US,With plenty of consumer-friendly vanilla/tobac...,Grand Estates,87,11.0,Washington,Washington,Washington Other,Cabernet Sauvignon,Columbia Crest
92088,Portugal,"A full-bodied wine, showing the richness and s...",Late Bottled Vintage,90,26.0,Port,NaN,NaN,Port,Poças
43269,US,Shows great acidity that really gets the taste...,Charles Vineyard,92,20.0,California,Anderson Valley,Mendocino/Lake Counties,Sauvignon Blanc,Foursight
133046,New Zealand,"Pungently herbal at first, accented by bold pa...",NaN,87,19.0,Martinborough,NaN,NaN,Sauvignon Blanc,Palliser Estate
18715,Italy,This Soave Classico shows a luminous golden co...,Grisela,86,18.0,Veneto,Soave Classico,NaN,Garganega,Tessari
102445,US,"This is soundly made, with good balance, some ...",NaN,88,24.0,Washington,Horse Heaven Hills,Columbia Valley,Cabernet Sauvignon,Mercer
114921,US,"Semi-sweet, with a sugary, Porty taste and, pa...",NaN,82,18.0,California,Alexander Valley,Sonoma,Merlot,Trentadue
38519,South Africa,"Black plum skins, green pepper, cassis and cof...",NaN,86,22.0,Simonsberg-Stellenbosch,NaN,NaN,Cabernet Sauvignon,Le Bonheur
74874,Argentina,"Jammy on the nose, with a citrusy element, gre...",NaN,86,28.0,Mendoza Province,Uco Valley,NaN,Malbec,Finca 8

In [67]:
sample.sort_index(axis=0)

,country,description,designation,points,price,province,region_1,region_2,variety,winery
18715,Italy,This Soave Classico shows a luminous golden co...,Grisela,86,18.0,Veneto,Soave Classico,NaN,Garganega,Tessari
38519,South Africa,"Black plum skins, green pepper, cassis and cof...",NaN,86,22.0,Simonsberg-Stellenbosch,NaN,NaN,Cabernet Sauvignon,Le Bonheur
43239,Italy,This vintage of Grattamacco's basic Bolgheri b...,NaN,87,42.0,Tuscany,Bolgheri,NaN,Red Blend,Grattamacco
43269,US,Shows great acidity that really gets the taste...,Charles Vineyard,92,20.0,California,Anderson Valley,Mendocino/Lake Counties,Sauvignon Blanc,Foursight
74874,Argentina,"Jammy on the nose, with a citrusy element, gre...",NaN,86,28.0,Mendoza Province,Uco Valley,NaN,Malbec,Finca 8
92088,Portugal,"A full-bodied wine, showing the richness and s...",Late Bottled Vintage,90,26.0,Port,NaN,NaN,Port,Poças
102445,US,"This is soundly made, with good balance, some ...",NaN,88,24.0,Washington,Horse Heaven Hills,Columbia Valley,Cabernet Sauvignon,Mercer
114921,US,"Semi-sweet, with a sugary, Porty taste and, pa...",NaN,82,18.0,California,Alexander Valley,Sonoma,Merlot,Trentadue
122967,US,With plenty of consumer-friendly vanilla/tobac...,Grand Estates,87,11.0,Washington,Washington,Washington Other,Cabernet Sauvignon,Columbia Crest
133046,New Zealand,"Pungently herbal at first, accented by bold pa...",NaN,87,19.0,Martinborough,NaN,NaN,Sauvignon Blanc,Palliser Estate

### Renaming

rename(): function to rename "index" or "columns"

rename_axis("axis name", axis="rows'): can rename axis for "rows" or "columns"

In [68]:
df = read_data()
df.head()

,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude

In [69]:
df.rename(columns={
    'points': 'score'
})

,country,description,designation,score,price,province,region_1,region_2,variety,winery
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude
...,...,...,...,...,...,...,...,...,...,...
150925,Italy,Many people feel Fiano represents southern Ita...,NaN,91,20.0,Southern Italy,Fiano di Avellino,NaN,White Blend,Feudi di San Gregorio
150926,France,"Offers an intriguing nose with ginger, lime an...",Cuvée Prestige,91,27.0,Champagne,Champagne,NaN,Champagne Blend,H.Germain
150927,Italy,This classic example comes from a cru vineyard...,Terre di Dora,91,20.0,Southern Italy,Fiano di Avellino,NaN,White Blend,Terredora
150928,France,"A perfect salmon shade, with scents of peaches...",Grand Brut Rosé,90,52.0,Champagne,Champagne,NaN,Champagne Blend,Gosset
150929,Italy,More Pinot Grigios should taste like this. A r...,NaN,90,15.0,Northeastern Italy,Alto Adige,NaN,Pinot Grigio,Alois Lageder

In [70]:
df.rename(index={
    0: 'first entry'
})

,country,description,designation,points,price,province,region_1,region_2,variety,winery
first entry,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude
...,...,...,...,...,...,...,...,...,...,...
150925,Italy,Many people feel Fiano represents southern Ita...,NaN,91,20.0,Southern Italy,Fiano di Avellino,NaN,White Blend,Feudi di San Gregorio
150926,France,"Offers an intriguing nose with ginger, lime an...",Cuvée Prestige,91,27.0,Champagne,Champagne,NaN,Champagne Blend,H.Germain
150927,Italy,This classic example comes from a cru vineyard...,Terre di Dora,91,20.0,Southern Italy,Fiano di Avellino,NaN,White Blend,Terredora
150928,France,"A perfect salmon shade, with scents of peaches...",Grand Brut Rosé,90,52.0,Champagne,Champagne,NaN,Champagne Blend,Gosset
150929,Italy,More Pinot Grigios should taste like this. A r...,NaN,90,15.0,Northeastern Italy,Alto Adige,NaN,Pinot Grigio,Alois Lageder

In [71]:
df.rename_axis("wines", axis="rows").rename_axis("fields", axis="columns")

fields,country,description,designation,points,price,province,region_1,region_2,variety,winery
wines,,,,,,,,,,
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude
...,...,...,...,...,...,...,...,...,...,...
150925,Italy,Many people feel Fiano represents southern Ita...,NaN,91,20.0,Southern Italy,Fiano di Avellino,NaN,White Blend,Feudi di San Gregorio
150926,France,"Offers an intriguing nose with ginger, lime an...",Cuvée Prestige,91,27.0,Champagne,Champagne,NaN,Champagne Blend,H.Germain
150927,Italy,This classic example comes from a cru vineyard...,Terre di Dora,91,20.0,Southern Italy,Fiano di Avellino,NaN,White Blend,Terredora
150928,France,"A perfect salmon shade, with scents of peaches...",Grand Brut Rosé,90,52.0,Champagne,Champagne,NaN,Champagne Blend,Gosset
150929,Italy,More Pinot Grigios should taste like this. A r...,NaN,90,15.0,Northeastern Italy,Alto Adige,NaN,Pinot Grigio,Alois Lageder

### Combining dataframes

Used to combine different dataset based on keys

concat(list): simply add list elements (dataframes) together along an axis, the missing values will be replaced by NaN

dataframe_1.join(dataframe_2, lsuffix="", rsuffix=""): join dataframe_1 and dataframe_2 with index, if both dataframes contain a same column name, lsuffix and rsuffix will be added to column name

In [72]:
original_df = read_data()
original_df.head()

,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude

In [73]:
col_type_dict = get_column_by_types(original_df)
col_type_dict

{'numerical': ['points', 'price'],
 'bool': [],
 'object': ['country',
  'description',
  'designation',
  'province',
  'region_1',
  'region_2',
  'variety',
  'winery'],
 'datetime': [],
 'category': []}

In [74]:
numerical_df = original_df[col_type_dict['numerical']]
numerical_df.head()

   points  price
0      96  235.0
1      96  110.0
2      96   90.0
3      96   65.0
4      95   66.0

In [75]:
object_df = original_df[col_type_dict['object']]
object_df.head()

,country,description,designation,province,region_1,region_2,variety,winery
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,US,"This spent 20 months in 30% new French oak, an...",Reserve,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude

In [76]:
pd.concat([numerical_df, object_df])

,points,price,country,description,designation,province,region_1,region_2,variety,winery
0,96.0,235.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,96.0,110.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,96.0,90.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,96.0,65.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,95.0,66.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
150925,NaN,NaN,Italy,Many people feel Fiano represents southern Ita...,NaN,Southern Italy,Fiano di Avellino,NaN,White Blend,Feudi di San Gregorio
150926,NaN,NaN,France,"Offers an intriguing nose with ginger, lime an...",Cuvée Prestige,Champagne,Champagne,NaN,Champagne Blend,H.Germain
150927,NaN,NaN,Italy,This classic example comes from a cru vineyard...,Terre di Dora,Southern Italy,Fiano di Avellino,NaN,White Blend,Terredora
150928,NaN,NaN,France,"A perfect salmon shade, with scents of peaches...",Grand Brut Rosé,Champagne,Champagne,NaN,Champagne Blend,Gosset
150929,NaN,NaN,Italy,More Pinot Grigios should taste like this. A r...,NaN,Northeastern Italy,Alto Adige,NaN,Pinot Grigio,Alois Lageder

In [77]:
join_df = object_df.join(numerical_df)
join_df.head()

,country,description,designation,province,region_1,region_2,variety,winery,points,price
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz,96,235.0
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez,96,110.0
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley,96,90.0
3,US,"This spent 20 months in 30% new French oak, an...",Reserve,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi,96,65.0
4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude,95,66.0