# Handling missing categorical data

First step is to try to get more data if possible.

Why are those values missing ? Data is rarely missing at random so maybe the missing values have a meaning.

In [1]:
import pandas as pd
import numpy as np

## Dropping data

Probably not the best scenario. Could be okay if we have a large datasets and only a few missing values

## Replace by most frequent value

The mode

In [2]:
df = pd.DataFrame(data=["a", "a", "a", np.nan, "b"], columns=["value"])
df.head()

  value
0     a
1     a
2     a
3   NaN
4     b

In [3]:
df.value = df.value.fillna(df.value.mode()[0])
df

  value
0     a
1     a
2     a
3     a
4     b

## Use deep learning classifier to predict  the missing classes

Try to create a neural network to predict missing categorical values based on the most correlated features to the categorical feature

## Treat missing values are just another category

In [4]:
df = pd.DataFrame(data=["a", "a", "b", "c", np.nan, np.nan, "d", "c"])
df

     0
0    a
1    a
2    b
3    c
4  NaN
5  NaN
6    d
7    c

In [5]:
df.fillna("missing")

         0
0        a
1        a
2        b
3        c
4  missing
5  missing
6        d
7        c